@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* variables */
:root{
  --overlay-colour: #e34b33;
  --BlackGrey-colour: #111;
  --default-transition: 0.5s;
  --default-shadow: 5px 10px 8px rgba(0, 0, 0, 0.3);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4% 5%;
  z-index: 1000;
  display: flex;
  /* vertical */
  align-items: center;
  /* horizontal spacing */
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
  list-style: none;
}

/* menu burger */
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

/* close button of menu burger */
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -3;
  transition: 0s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* option if I want a colour overlay */
  /* background: #03a9f4;
  mix-blend-mode: overlay; */
}

.text {
  position: relative;
  z-index: 10;
  transition: var(--default-transition);
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  transition: var(--default-transition);
  margin-top: 3rem;
}

.text h3 {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  transition: var(--default-transition);
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  transition: var(--default-transition);
}

/* See More button */
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: var(--BlackGrey-colour);
  letter-spacing: 2px;
  transition: var(--default-transition);
}
.text a:hover {
  font-size: 1.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  /* aligns horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 120%
}
/* to get rid of the bullet points from the list */
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 5px;
  filter: invert(1);
  transform: scale(0.3);
  transition: var(--default-transition);
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  /* width is the same amount the showcase.active is moved by */
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  position: relative;
  list-style: none;
}
.menu ul li a {
  /* removes link underlines */
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--BlackGrey-colour);
  
}
.menu ul li a:hover {
  color: var(--overlay-colour);
  transition: 0.3s;
}

/*    Main index     */
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 10%;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background: var(--BlackGrey-colour);
  color: white;
  transition: var(--default-transition);
  /* position is 2 layers above main */
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

/*      Portfolio       */

/* 33:53 to check on */
.portfolio {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  background: var(--BlackGrey-colour);
  color: white;
  transition: var(--default-transition);
  /* position is 2 layers above main */
  z-index: 2;
}

.portfolio.active {
  right: 300px;
}

/* darken layer */
.portfolio::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

/* text */
.portfolio h2 {
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  transition: var(--default-transition);
  margin-top: 150px;
}

/* .portfolio h3 {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  transition: var(--default-transition);
}

.portfolio p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  transition: var(--default-transition);
} */

/* 34:18 */
.Portfolio-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
  z-index: 4;
}

.row img{
  object-fit: cover;
  aspect-ratio: 1.6;
  max-height: 100%;
  /* max-width: 450px; */
  width: 100%;
  height: 100%;
  border-radius: 28px;
  margin-bottom: 1.4rem;
}

.row{
  background: rgba(128, 128, 134, 0.4);;
  border-radius: 28px;
  border: 2px solid transparent;
  box-shadow: var(--default-shadow);
  padding: 20px;
  transition: all 0.50s ease;

}

.main-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

}

.row h5{
  font-size: 20px;
  font-weight: 300;
  color:#dedede
}

.row h4{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.4;
}

/* button configuration */
.row i img{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 0px;
  object-fit: contain;
  /* font-size: 17px; */
  /* border-radius: 50%; */
  /* color: #dedede; */
  /* background: #075fe4; */
}

.row :hover{
  border: 1px solid var(--overlay-colour);
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}

/*    About Me     */

.aboutme {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  background: var(--BlackGrey-colour);
  color: white;
  transition: var(--default-transition);
  /* position is 2 layers above main */
  z-index: 2;
}


.aboutme.active {
  right: 300px;
}

/* darken layer */
.aboutme::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.card .aboutmerow {
  display: grid;
  grid-template-columns: (1fr,1fr);
  align-items: center;
  margin-top: 4.2rem;
}

.aboutmerow h3 {
  
}

/* text */
.aboutme h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  transition: var(--default-transition);
  margin-top: 150px;
}

.aboutme h3 {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  transition: var(--default-transition);
  margin-top: 30px;
}

.aboutme p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  transition: var(--default-transition);
}


/*    Next Section     */

/* media query to scale the text if too big for window size, 991px and under these styles apply */
@media (max-width: 820px){
  .showcase,
  .showcase header{
    padding: 40px;
  }
  .text h2{
    font-size: 3.4em;
  }
  .text h3{
    font-size: 2em;
  }
  .text p{
    margin-right: 150px;
  }
}

@media screen and (max-width: 1600px) {
  .Portfolio-content {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 1300px) {
  .Portfolio-content {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 900px) {
  .Portfolio-content {
    grid-template-columns: repeat(1, 1fr); } }